@model IEnumerable<AssetManagement.Controllers.BookController>
@{
    ViewBag.Title = "bookAsset";
    dynamic bookAsset = ViewBag.bookAsset;

}
<h1>List of all Books</h1>

<table class="table">
 @Html.ValidationSummary(true)
    <thead>
        <tr>
            <th> Asset Id</th>
            <th> Name</th>
            <th> Author</th>
            <th> Edition</th>
            <th> Date Of Publish</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@bookAsset.id</td>
            <td>@bookAsset.name</td>
            <td>@bookAsset.author</td>
            <td>@bookAsset.edition</td>
            <td>@bookAsset.dateOfPublish.ToString("dd/MM/yyyy")</td>
        </tr>

    <tfoot></tfoot>
    </tbody>
</table>

