@model IEnumerable<DbAssetManagement.Controllers.SoftwareLicenseController>
@{
    ViewBag.Title = "softwareAsset";
    dynamic softwareAsset = ViewBag.softwareAsset;

}
<h1>List of all Softwares</h1>

<table class="table">
    @Html.ValidationSummary(true)
    <thead>
        <tr>
            <th> Serial No</th>
            <th> SoftwareName</th>
            <th> Date Of Publish</th>
            <th> Date Of Expiry</th>
            <th> Price</th>


        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@softwareAsset.SerialNo</td>
            <td>@softwareAsset.SoftwareName</td>
            <td>@softwareAsset.DateOfPublish.ToString("dd/MM/yyyy")</td>
            <td>@softwareAsset.DateOfExpiry.ToString("dd/MM/yyyy")</td>
            <td>@softwareAsset.Price</td>

        </tr>

    <tfoot></tfoot>
    </tbody>
</table>

