@model IEnumerable<DbAssetManagement.Controllers.BookController>
@{
    ViewBag.Title = "bookAsset";
    dynamic bookAsset = ViewBag.bookAsset;

}
<h1>List of all Books</h1>

<table class="table">
    @Html.ValidationSummary(true)
    <thead>
        <tr>
            <th> Asset Id</th>
            <th> Name</th>
            <th> Author</th>
            <th> Edition</th>
            <th> Date Of Publish</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@bookAsset.SerialNo</td>
            <td>@bookAsset.BookName</td>
            <td>@bookAsset.Author</td>
            <td>@bookAsset.Edition</td>
            <td>@bookAsset.DateOfPublish.ToString("dd/MM/yyyy")</td>
        </tr>

    <tfoot></tfoot>
    </tbody>
</table>

