@model IEnumerable<AssetManagement.Controllers.HardwareController>
@{
    ViewBag.Title = "hardwareAsset";
    dynamic hardwareAsset = ViewBag.hardwareAsset;

}

<h1>List of Hardwares</h1>
@Html.ValidationSummary(true)
<table class="table">
    <thead>
        <tr>
            <th> Asset Id</th>
            <th> Name</th>
            <th> Author</th>
            <th> Edition</th>
            <th> Date Of Publish</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@hardwareAsset.id</td>
            <td>@hardwareAsset.name</td>
            <td>@hardwareAsset.brand</td>
            <td>@hardwareAsset.installationDate.ToString("dd/MM/yyyy")</td>
            <td>@hardwareAsset.amount</td>
        </tr>

    <tfoot></tfoot>
    </tbody>
</table>

